<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap" >
      <!-- class="<%- is_home() ? ' docs100' : '' %>" -->
      <%- partial('_partial/menu2', null, {cache: !config.relative_link}) %>
      <div class="outer ">

        <%- partial('_partial/menuDocs', null, {cache: !config.relative_link}) %>
        <section id="main" class="con-docs"><%- body %></section>
        <!-- <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %> -->
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
